body{
    background: url(https://avatars.mds.yandex.net/i?id=070b399d06be5bbda180f60d8999917be1dea515-4560317-images-thumbs&n=13)center top no-repeat;
    background-size: cover;
}
.bob{
    height: 60%;
    width: 40%;
    background-color: #279dd87c;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    border: solid rgb(240, 240, 240);
}

.bob3{
    color:rgba(0, 0, 0, 0.66);
}
.bob4{
    height: 25%;
    width:100% ;
    background-color: #2685d368;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    border: solid rgb(240, 240, 240);
    color:#2312df93;
}
.wrapper{
    width: 100vw;
    height: 60.5vh;
    display: flex;
    justify-content: center;
}
.carousel{
    height: 60vh;
    width: 100vw;
} 
.w-100{
    width: 100vw;
    height: 60vh;
} 

